<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Employees</title>



</head>
<body>

<h1>EMPLOYEE LIST</h1>

<table>
    <tr>
        <th>ID EMPLEADO</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contract</th>
    </tr>
    <tr th:each="employee:${employee}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.lastName}"></td>
        <td>
<!--            <table>
                <tr th:each="cotract:${employee.contracts}">
                    <td th:text="${contract.id}">123</td>
                    <td th:text="${contract.initDate}">123</td>
                </tr>
            </table>-->
        </td>
    </tr>
</table>
<p th:text="${ptm}"></p>
<p>message</p>
</body>
</html>